body {
  background-color: #b1abab;
  margin: auto;
  background-image: url("./assets/image2.jpg");
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

input[type="submit"] {
  width: 65%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

p {
  margin: 8px 0;
  color: #c69595;
  font-weight: bold;
}


.navbar-brand-animation {
  display: flex;
  justify-content: center;
  object-fit: contain;
  mix-blend-mode: color-burn;
  font-size: 1.25rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
  display: inline-block;
  animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-about {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  object-fit: contain;
  mix-blend-mode: color-burn;
  border: 2px solid rgb(246, 245, 245);
  display: flex;
  justify-content: center;
  padding: 0.8rem 1rem;
  cursor: pointer;
  
}

.fade.modal.show {
  color: rgb(42, 41, 43);
  font-size: larger;
  font-family: ui-sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 600px;
  margin: auto;
}




.logo {
  display: block;
  margin: 0 auto; 
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  width: 15%;
  background-clip: content-box;
  justify-content: center;
  padding: 0.8rem;
}







